.cir{
  width: 30px;
  height: 30px;
  color: white !important;
  vertical-align: middle;
  display: -webkit-flex;
  display: flex !important;
  text-align: center !important;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 15px;
}
