$dark-primary-color: #00796b;
$primary-color: #009688;
$light-primary-color: #b2dfdb;
$text-color: #fff;
$accent-color: #ff9800;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$view-height: 100vh;
$view-width: 100vw;
$content-width: 100vw * 0.90;
