$primary-color: #404144;
$accent-color: #E64A19;
$secondary-accent: #4CAF50;
$background-color: #fff;
$shadows:rgba(0,0,0,0.2);
$ligth-text: #fff;
$text:#333;
$divider: #BDBDBD;


$material-blue: #2196F3;
