<header class="header">
  <div class="banner-img">
    <div class="banner-logo">
      <img src="img/logofinal.png" width="80px" alt="">
    </div>
    <div class="main-text row">
      <h1>"Hola mundo!"</h1>
      <h1>.soy(Vusumzi Belmont)</i></h1>
    </div>
    <div class="banner-next row">
      <div class="banner-next-button flip180-trigger" ng-click="banCtrl.removeBanner()">
        <h3>¿quieres saber mas sobre lo que hago?</h3>
        <div class="next-banner-wrapper ripple-wrapper ">
          <div class="arrow-icon">
            <h1><i class="fas fa-angle-up"></i></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
