header{
  height: 112px !important;
  position: fixed;
  z-index: 13;
  width: 100vw;
  .nav-extended{
    height: 112px !important;
    text-decoration: none;
    background-color: $primary-color !important;
    *{
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    .nav-content{
      .tab{
        &:hover{
          background-color: lighten($primary-color, 10%);
        }
      }
    }
  }
}
