$primary: #343a40;
$accent: #68c7c1;
$secondary: #4c4c4c;
$complementary:#a0dcd8;
$background: #eceeef;

$light-text: #EBE9EA;
$medium-text:#6E6D6D;
$dark-text: #545454;


$view-height: 100vh;
$view-width: 100vw;
$content-width: 100vw * 0.90;